<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shared Gallery</title>
    <!-- Add Bootstrap CDN link -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous" />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Montserrat:wght@500&display=swap"
      rel="stylesheet" />
    <!-- Meta tag khusus untuk Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="<%= entry.imgLink %>" />
    <meta property="og:type" content="On Shared Gallery" />
    <meta name="application-name" content="Shared Gallery" />

    <% if (entry.nama) { %>
    <meta property="og:title" content="<%= entry.nama %>" />
    <% } %> <% if (entry.desc) { %>
    <meta name="twitter:description" content="<%= entry.desc %>" />
    <% } %>
    <!-- Meta tag khusus untuk Facebook -->
    <meta property="og:image" content="<%= entry.imgLink %>" />
    <meta property="og:image:width" content="WIDTH_PIXELS" />
    <meta property="og:image:height" content="HEIGHT_PIXELS" />

    <style type="text/css" media="screen">
      body {
        font-family: "Karla";
      }
      /* Custom styles for the Pinterest-style layout */
      :root {
        --text: #e7edef;
        --background: #11181a;
        --primary: #9dcbd8;
        --secondary: #3d4648;
        --accent: #66b3ca;
      }
      body,
      nav {
        background-color: var(--background);
      }
      .nav-brand {
        font-family: "Montserrat" !important;
      }
      input,
      textarea {
        background-color: var(--secondary) !important;
        color: var(--text) !important;
        border: 2px solid var(--accent) !important;
      }
      .card {
        border: none;
        background-color: var(--primary);
      }
      .card {
        border-radius: 24px;
      }
      .card-img {
        border-radius: 24px !important;
      }
      ::placeholder {
        color: var(--text) !important;
      }
      ::-webkit-scrollbar {
        width: 3px;
      }

      ::-webkit-scrollbar-thumb {
        background-color: var(--accent);
        outline: 1px solid slategrey;
      }
      .card-columns {
        column-count: 3;
      }

      .card {
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
      }
      .modal-header,
      .modal-footer,
      .modal-body {
        color: var(--text);
        background-color: var(--secondary);
      }
      .btn-primary {
        background-color: var(--accent);
        border: solid var(--accent);
        color: #11181a;
      }
      .btn-primary,
      .modal-dialog {
        border-radius: 30px;
      }

      @media (max-width: 991px) {
        .card-columns {
          column-count: 2;
        }
      }

      @media (max-width: 767px) {
        .card-columns {
          column-count: 1;
        }
      }
      body {
        background: linear-gradient(
            to bottom,
            rgba(18, 18, 18, 0.94),
            rgba(18, 18, 18, 1)
          ),
          url("<%= entry.imgLink %>");
        backdrop-filter: blur(15px);
        height: 100%;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
      }
      .card {
        border: solid 0.4px var(--primary);
      }
    </style>
  </head>
  <body>
    <%- include("navbar") %>
    <div class="container mt-3">
      <!-- Sample image cards -->

      <div class="row">
        <div class="col-md-6">
          <div class="card mb-3">
            <img
              src="<%= entry.imgLink %>"
              class="card-img"
              alt="<%= entry.name %>" />
          </div>
        </div>

        <div class="col-md-6 order-md-1">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title"><%= entry.nama %></h5>
              <p class="card-text"><%= entry.desc %></p>
            </div>
            <div class="card-footer">
              <a href="<%= entry.imgLink %>" download="<%= entry.name %>.jpg">
                <button class="btn btn-primary btn-sm">Download</button>
              </a>
              <button class="btn btn-primary btn-sm" onclick="search()">
                <i class="fa fa-share" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div
            class="card mb-3"
            style="background-color: var(--secondary); color: var(--text)">
            <div class="card-body" style="max-height: 215px; overflow-y: auto">
              <h4>Comments:</h4>
              <hr style="border: solid 1px var(--text)" />
              <% if (entry.comments.length > 0) { %> <% entry.comments.slice(0,
              20).forEach((comment) => { %>
              <h6><%= comment.isi %></h6>
              <% }); %> <% } else { %>
              <h6>Belum ada,</h6>
              <h6>Tambahkan untuk menjadi yang pertama !</h6>

              <% } %>
            </div>
            <div class="card-footer">
              <form
                action="/<%= entry.id %>/comment"
                method="post"
                class="d-flex">
                <div class="input-group flex-grow-1 mr-2">
                  <input
                    type="text"
                    class="form-control rounded-lg"
                    style="border-radius: 24px"
                    id="comment"
                    name="comment"
                    autocomplete="off"
                    placeholder="Tambah Komentar..."
                    required />
                </div>
                <button type="submit" class="btn btn-primary">
                  <i class="fa fa-plus"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <h3 class="text-white">Recomendation</h3>
      <div class="card-columns">
        <!-- Sample image cards -->
        <% data.sort(() => Math.random() - 0.5).slice(0,20).forEach((entry) => {
        %>

        <a href="/<%= entry.id %>">
          <img
            src="<%= entry.imgLink %>"
            class="m-2 card"
            style="border-radius: 24px; max-height: 550px; object-fit: cover"
            alt="Image 1"
            onerror="this.remove()" />
          <p class="ml-3 text-white"><%= entry.nama %></p>
        </a>

        <% }); %>
      </div>
    </div>
    <script>
      function search() {
        // Get the text field
        var copyText = window.location.href;

        // Copy the text inside the text field
        if (navigator.share) {
          navigator.clipboard.writeText(copyText);

          navigator
            .share({
              title: "rejangpedia",
              text: "artikel untuk sanak",
              url: copyText,
            })
            .then(() => console.log("Successful share"))
            .catch((error) => console.log("Error sharing", error));
        } else {
          try {
            window.AndroidShareHandler.share(copyText);
          } catch {
            navigator.clipboard.writeText(copyText);
            alert("Sudah Di Salin Ya, silahkan Beri ke Temanmu ya ^_^");
          }
        }
      }
    </script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
  </body>
</html>
