<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shared Gallery</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://ik.imagekit.io/9hpbqscxd/SG/image-95.jpg" />
    <!-- Add Bootstrap CDN link -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous" />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Montserrat:wght@500&display=swap"
      rel="stylesheet" />
    <!-- Meta tag khusus untuk Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="<%= entry.imgLink %>" />
    <meta property="og:type" content="On Shared Gallery" />
    <meta name="application-name" content="Shared Gallery" />

    <% if (entry.nama) { %>
    <meta property="og:title" content="<%= entry.nama %>" />
    <% } %> <% if (entry.desc) { %>
    <meta name="twitter:description" content="<%= entry.desc %>" />
    <% } %>
    <!-- Meta tag khusus untuk Facebook -->
    <meta property="og:image" content="<%= entry.imgLink %>" />
    <meta property="og:image:width" content="WIDTH_PIXELS" />
    <meta property="og:image:height" content="HEIGHT_PIXELS" />
  </head>
  <style>
    h6 {
      padding: 12px;
      border-radius: 12px;
      border: 1px solid var(--accent);
    }
  </style>
  <body>
    <%- include("navbar") %>
    <div class="container mt-3">
      <!-- Sample image cards -->

      <div class="row">
        <div class="col-md-6">
          <div class="card mb-3">
            <img
              src="<%= entry.imgLink %><% if(entry.imgLink && entry.imgLink.includes('imagekit.io')) { %>?updatedAt=1705798245623<% } %>"
              class="card-img"
              alt="<%= entry.name %>" />
          </div>
        </div>

        <div class="col-md-6 order-md-1">
          <div class="card mb-3" style="background-color: var(--primary)">
            <div class="card-body">
              <% if (entry.nama || entry.desc) { %> <% if (entry.nama) { %>
              <h4 class="card-title"><strong><%= entry.nama %></strong></h4>
              <% } %> <% if (entry.desc) { %>
              <p class="card-text"><%= entry.desc %></p>
              <% } }else { %>
              <h4 class="card-title"><strong>Tidak Ada Deskripsi</strong></h4>

              <% } %>
            </div>
            <div class="card-footer">
              <a href="<%= entry.imgLink %>" download="<%= entry.name %>.jpg">
                <button class="btn btn-primary btn-sm">Download</button>
              </a>
              <button class="btn btn-primary btn-sm" onclick="search()">
                <i class="fa fa-share" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div
            class="card mb-3"
            style="background-color: var(--secondary); color: var(--text)">
            <div class="card-body" style="max-height: 215px; overflow-y: auto">
              <h4 class="pb-3">Comments (｡^ ‿^♡)</h4>
              <% if (entry.comments.length > 0) { %> <% entry.comments.slice(0,
              20).forEach((comment) => { %>
              <h6><%= comment.isi %></h6>
              <% }); %> <% } else { %>
              <h6>Be The First ٩(˵˃̶ω˂̶˵)◞</h6>

              <% } %>
            </div>
            <div class="card-footer" style="border-top: 1px dashed #D8D9DA">
              <form
                action="/<%= entry.id %>/comment"
                method="post"
                class="d-flex">
                <div class="input-group flex-grow-1 mr-2">
                  <input
                    type="text"
                    class="form-control rounded-lg"
                    style="
                      border-radius: 24px;
                      border: 2px solid var(--accent) !important;
                    "
                    id="comment"
                    name="comment"
                    autocomplete="off"
                    placeholder="Tambah Komentar..."
                    required />
                </div>
                <button type="submit" class="btn btn-primary">
                  <i class="fa fa-plus"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mt-3 text-center">
      <h3 class="text-white">More Explore ٩(˵˃̶ω˂̶˵)◞</h3>
      <div class="card-columns" id="cardContainer">
        <!-- Sample image cards -->
        <% let datalist = data.sort(() => Math.random() - 0.5); datalist.slice(0,30).forEach((entry) => {
        %>

        <a href="/<%= entry.id %>">
          <img
            src="<%= entry.imgLink %><% if(entry.imgLink && entry.imgLink.includes('imagekit.io')) { %>?updatedAt=1705798245623<% } %>"
            class="m-2 card"
            style="border-radius: 24px; max-height: 550px; object-fit: cover"
            alt="Image 1"
            onerror="this.remove()" />
          <p class="ml-3 text-white"><%= entry.nama %></p>
        </a>
  
        <% }); %>
        <p style="display: none" id="datalist"><%- JSON.stringify(datalist) %></p>
      </div>
    </div>
    <script>
      function search() {
        // Get the text field
        var copyText = window.location.href;

        // Copy the text inside the text field
        if (navigator.share) {
          navigator.clipboard.writeText(copyText);

          navigator
            .share({
              title: "rejangpedia",
              text: "artikel untuk sanak",
              url: copyText,
            })
            .then(() => console.log("Successful share"))
            .catch((error) => console.log("Error sharing", error));
        } else {
          try {
            window.AndroidShareHandler.share(copyText);
          } catch {
            navigator.clipboard.writeText(copyText);
            alert("Sudah Di Salin Ya, silahkan Beri ke Temanmu ya ^_^");
          }
        }
      }
    </script>
    <script>
        window.scrollTo(0, 0);
     let dataNow = 40;
      const str = document.getElementById("datalist").innerHTML.replace(/,\s*$/, "");
      let datalist = JSON.parse(str);
      window.onscroll = function (ev) {
       if(dataNow >= datalist.length){
         dataNow = Math.floor(Math.random() * datalist.length);
       }
        if (
          window.innerHeight / 1.5 + Math.round(window.scrollY) >=
          document.body.offsetHeight / 1.5
        ) {
          console.log("p")
        const cardContainer = document.getElementById("cardContainer");
        const newData = datalist.slice(dataNow, dataNow + 40).sort(() => Math.random() - 0.5);

        newData.forEach((entry) => {
          const card = document.createElement("a");
          card.setAttribute("href", `/${entry.id}`);
          card.classList.add("card", "bg-transparent");

          const img = document.createElement("img");
          img.classList.add("card");
          img.src = `${entry.imgLink}${
            entry.imgLink && entry.imgLink.includes("imagekit.io")
              ? "?updatedAt=1705798245623"
              : ""
          }`;
          img.style.borderRadius = "24px";
          img.style.maxHeight = `${
            Math.floor(Math.random() * (500 - 350 + 1)) + 350
          }px`;
          img.style.objectFit = "cover";

          const p = document.createElement("p");
          p.classList.add("ml-3", "text-white");
          p.textContent = entry.nama;

          card.appendChild(img);
          card.appendChild(p);
          cardContainer.appendChild(card);
        });

        // Update current data count
        dataNow += newData.length;

        }
      };


      function getMoreData() {
        // Slice data from dataNow to dataNow + 10 (for example)
      } 
    </script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
  </body>
</html>
