<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shared Gallery</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://ik.imagekit.io/9hpbqscxd/SG/image-95.jpg"
    />
    <meta
      name="twitter:image"
      content="https://ik.imagekit.io/9hpbqscxd/SG/image-96.jpg"
    />

    <!-- Add Bootstrap CDN link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <link
      href="https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Montserrat:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <style>
    body {
      font-family: 'Karla';
      background-image: linear-gradient(to left top, #00000000 90%, #14600323);
      background-repeat: no-repeat;
      background-position: center;
  }
  </style>
  <body>
    <%- include("navbar") %>
    <div class="container-fluid pt-3">
      <h3 class="text-center pb-3" style="color: var(--text)">
        Explore Shared Gallery ٩(˵˃̶ω˂̶˵)◞
      </h3>

      <div class="card-columns" id="cardContainer">
        <!-- Tambahkan id="cardContainer" di sini -->
        <!-- Sample image cards -->
        <% let datalist = data.sort(() => Math.random() - 0.5);
        datalist.slice(0,40).forEach((entry) => { %>

        <a href="/<%= entry.id %>" class="card bg-transparent">
          <img 
            class="card imgCard"
            src="<%= entry.imgLink %><% if(entry.imgLink && entry.imgLink.includes('imagekit.io')) { %>?updatedAt=1705798245623<% } %>"
            style="  max-height: <%= Math.floor(Math.random() * (500 - 350 + 1)) + 350 %>px;"
          />

          <p class="ml-3 text-white"><%= entry.nama %></p>
        </a>

        <% }); %>
        <p style="display: none" id="datalist">
          <%- JSON.stringify(datalist) %>
        </p>
      </div>
    </div>
    <script>
      window.scrollTo(0, 0);
      let dataNow = 40;
      const str = document
        .getElementById("datalist")
        .innerHTML.replace(/,\s*$/, "");
      let datalist = JSON.parse(str);
      window.onscroll = function (ev) {
        if (dataNow >= datalist.length) {
          dataNow = Math.floor(Math.random() * datalist.length);
        }
        if (
          window.innerHeight / 1.5 + Math.round(window.scrollY) >=
          document.body.offsetHeight / 1.5
        ) {
          console.log("p");
          const cardContainer = document.getElementById("cardContainer");
          const newData = datalist
            .sort(() => Math.random() - 0.5)
            .slice(dataNow, dataNow + 40)
            .sort(() => Math.random() - 0.5);

          newData.forEach((entry) => {
            const card = document.createElement("a");
            card.setAttribute("href", `/${entry.id}`);
            card.classList.add("card", "bg-transparent");

            const img = document.createElement("img");
            img.classList.add("card");
            img.src = `${entry.imgLink}${
              entry.imgLink && entry.imgLink.includes("imagekit.io")
                ? "?updatedAt=1705798245623"
                : ""
            }`;
            img.style.borderRadius = "24px";
            img.style.maxHeight = `${
              Math.floor(Math.random() * (500 - 350 + 1)) + 350
            }px`;
            img.style.objectFit = "cover";

            const p = document.createElement("p");
            p.classList.add("ml-3", "text-white");
            p.textContent = entry.nama;

            card.appendChild(img);
            card.appendChild(p);
            cardContainer.appendChild(card);
          });

          // Update current data count
          dataNow += newData.length;
        }
      };

      function getMoreData() {
        // Slice data from dataNow to dataNow + 10 (for example)
      }
    </script>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
