<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shared Gallery</title>
    <!-- Add Bootstrap CDN link -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous" />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Montserrat:wght@500&display=swap"
      rel="stylesheet" />
    <style type="text/css" media="screen">
      body {
        font-family: "Karla";
      }
      /* Custom styles for the Pinterest-style layout */
      :root {
        --text: #e7edef;
        --background: #11181a;
        --primary: #9dcbd8;
        --secondary: #3d4648;
        --accent: #66b3ca;
      }
      body,
      nav {
        background-color: var(--background);
      }
      .nav-brand {
        font-family: "Montserrat" !important;
      }
      input,
      textarea {
        background-color: var(--secondary) !important;
        color: var(--text) !important;
        border: 2px solid var(--accent) !important;
      }
      .card {
        border: none;
        background-color: var(--primary);
      }
      .card,
      .card-img-top {
        border-radius: 12px;
      }
      ::placeholder {
        color: var(--text) !important;
      }
      .card-columns {
        column-count: 3;
      }

      .card {
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
      }
      .modal-header,
      .modal-footer,
      .modal-body {
        color: var(--text);
        background-color: var(--secondary);
      }
      .btn-primary {
        background-color: var(--accent);
        border: solid var(--accent);
        color: #11181a;
      }
      .btn-primary,
      .modal-dialog {
        border-radius: 30px;
      }

      @media (max-width: 991px) {
        .card-columns {
          column-count: 2;
        }
      }

      @media (max-width: 767px) {
        .card-columns {
          column-count: 1;
        }
      }
    </style>
  </head>
  <body>
    <%- include("navbar") %>
    <div class="container mt-3">
      <div class="card-columns">
        <!-- Sample image cards -->
        <% data.sort(() => Math.random() - 0.5).forEach((entry) => { %>

        <div class="card">
          <img
            src="<%= entry.imgLink %>"
            class="card-img-top"
            alt="Image 1"
            onerror="this.remove()" />
          <div class="card-body">
            <h4 class="card-title"><%= entry.nama %></h4>
            <p class="card-text"><%= entry.desc %></p>
          </div>
          <div class="card-footer">
            <a class="btn btn-primary" href="/<%= entry.id %>">Lihat Details</a>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
  </body>
</html>
